.close-button-first {
  position: absolute;
  bottom: 5px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.close-btn-text {
  font-weight: bolder;
}

.icon-name-class {
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  bottom: 40%;
  text-align: center;
}

.icon-class {
  width: 100%;
  margin-bottom: -35px;
}

.first-name-class {
  display: inline-block;
  font-size: 15vw;
  font-weight: bolder;
  font-family: 'Horta';
}

.second-name-class {
  display: inline-block;
  font-size: 70%;
  font-size: 80%;
  font-family: 'Cambria, Cochin, Georgia, Times, ' Times New Roman ', serif';
}
