.stopaClass {
  text-align: center;
  color: white;
  margin-top: 2px;
}

.stopClass {
  text-align: center;
  color: white;
  margin-top: 1px;
  margin-bottom: 0px;
}

.priceClass {
  @extend .stopaClass;
}

.fromToClass {
  @extend .stopaClass;
}
