.busBtnClass {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
  flex-wrap: nowrap;
  border-radius: 10%;
  border: 2px solid white;
}

.gridClass {
  display: inline-block;
  text-align: center;
}

.contBoard {
  --background: #1e1e1e;
}
